.vscode/
coverage/
img/
node_modules/
src/
example/
tests/
.babelrc
.env
.env.example
.eslintignore
.eslintrc.js
.gitignore
.node-version
.prettierignore
.prettierrc.json
.travis.yml
jest.config.js
tsconfig.eslint.json

.DS_Store
